/* Universal styles and variables */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --code-color: #F4F3F1;
    --nav-bar-height: 33vh;
    --nav-bar-width: 250px;
    --padding-value: 1rem;
    --thin-border: solid 1px gray;
    --thick-border: solid 2px gray;
}

/* Navigation bar styles*/

#navbar {
    display: flex;
    flex-direction: column;
    height: var(--nav-bar-height);
    border-bottom: var(--thick-border);
    width: 100%;
}

h1 {
    text-align: center;
}

#nav-links {
    flex-grow: 1;
    overflow-y: scroll;
    border: var(--thin-border);
}

#nav-links li {
    padding: var(--padding-value);
    border-bottom: var(--thin-border);
}

.nav-link {
    color: black;
}

/* Main document styles */

#main-doc {
    padding: 0 var(--padding-value);
}

code {
    font-family: 'Inconsolata', monospace;
    background-color: var(--code-color);
    display: block;
    padding: var(--padding-value);
    text-overflow: ellipsis;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p + p,
pre + p,
p + pre,
code + p,
p + code {
    margin-top: var(--padding-value);
}

hr {
    margin: var(--padding-value) auto;
    margin-top: calc(2 * var(--padding-value));
    width: 95%;
}

main > section:last-child {
    margin-bottom: calc(2 * var(--padding-value));
}

/* Miscellaneous styles */

header {
    padding: var(--padding-value) 0;
}

/* Media query */

@media (min-width: 750px) {
    body {
        display: flex;
        font-size: 1.1rem;
    }

    #navbar {
        border-right: var(--thick-border);
        height: 100vh;
        position: fixed;
        width: var(--nav-bar-width);
    }

    #main-doc {
        padding-right: var(--padding-value);
        position: relative;
        left: var(--nav-bar-width);
        width: calc(98vw - var(--nav-bar-width));
    }
}